<nz-row style="margin-bottom: 32px">
  <nz-col>
    <h2 nz-typography><nz-icon nzType="profile" /> Experiences</h2>
  </nz-col>
</nz-row>
<app-header-table></app-header-table>
<nz-table #basicTable [nzData]="listEducations" [nzScroll]="{ x: '1150px' }">
  <thead>
    <tr>
      <th nzWidth="55px">No</th>
      <th nzWidth="200px">Created At</th>
      <th nzWidth="200px">Created By</th>
      <th nzWidth="200px">Updated At</th>
      <th nzWidth="200px">Updated By</th>
      <th nzWidth="400px">Company Name</th>
      <th nzWidth="100px">Logo</th>
      <th nzWidth="400px">Job Title</th>
      <th nzWidth="250px">Start Date</th>
      <th nzWidth="200px">End Date</th>
      <th nzWidth="250px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>
        {{ (basicTable.nzPageIndex - 1) * basicTable.nzPageSize + i + 1 }}
      </td>
      <td>{{ parseDate(data.created_at) }}</td>
      <td>{{ data.created_by }}</td>
      <td>{{ parseDate(data.updated_at) }}</td>
      <td>{{ data.updated_by }}</td>
      <td>{{ data.company_name }}</td>
      <td>
        <img nz-image width="50px" [nzSrc]="data.company_logo" />
      </td>
      <td>{{ data.job_title }}</td>
      <td>{{ parseDate(data.start_date) }}</td>
      <td>{{ parseDate(data.end_date) }}</td>
      <td>
        <button nz-button nzType="default">
          <nz-icon nzType="edit" />Edit
        </button>
        <button nz-button nzType="default" nzDanger>
          <nz-icon nzType="delete" />Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
